body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif,
    width: 100%;
    line-height:1.5;
}
a{
    color: crimson;
    text-decoration:none;
}
navigation{
    background: purple;
    display: flex;
}
.brand{
color: white;
}
navbar-nav{
    display: flex;
}
nav-link{
    color: white;
}

